{% if include.featured %}
<div class="col-sm-12 col-md-6 col-xl-3 mb-3 mb-xl-0">
    <div class="board-member board-member--officer">
{% else %}
<div class="board-member board-member--director">
    <div class="board-member__content">
{% endif %}
        {% assign prefix = include.member.prefix | default: "" %}
        {% assign middle_name = include.member.middle_name | default: "" %}
        {% assign suffix = include.member.suffix | default: "" %}
        {% assign title = include.member.title | default: "" %}
        {% assign display_name = "" %}
        {% if prefix != "" %}
        {% assign display_name = display_name | append: prefix | append: " " %}
        {% endif %}
        {% assign display_name = display_name | append: include.member.first_name %}
        {% if middle_name != "" %}
        {% assign display_name = display_name | append: " " | append: middle_name %}
        {% endif %}
        {% assign display_name = display_name | append: " " | append: include.member.last_name %}
        {% if suffix != "" %}
        {% assign display_name = display_name | append: ", " | append: suffix %}
        {% endif %}
        <p class="board-member__name">{{ display_name }}</p>
        {% if title != "" %}
        <small class="board-member__title">{{ title }}</small>
        {% endif %}
    </div>
</div>
